* {

    font-family: 'Times New Roman', Times, serif;

}

#gameWindow {

    border-radius: 10px;
    border: 2px solid rgb(104, 8, 104);
    position: absolute;
    left: 30%;
    top: 20%;
    height: 600px;
    width: 600px;
    
}

#wrapper {

    border-radius: 10px;
    border: 2px solid rgb(104, 8, 104);
    position: absolute;
    left: 30%;
    top: 20%;
    height: 600px;
    width: 600px;
    
}

p {

    font-size: 24px;

}

#timer {
    
    border-radius: 10px;
    color: white;
    background-color: rgb(104, 8, 104);
    margin-left: 33%;
    padding: 16px 32px;
    font-size: 24px;

}

#questions {

    margin: 24px;
    font-size: 28px;
}

#timer {

    float: right;

}

#back {

    background-color: rgb(104, 8, 104);
    color: white;
    position: relative;
    padding: 10px;
    font-size: 20px;
    top: 30%;
    left: 50%;
    width: auto;
    text-align: center;
    text-decoration: none;

}



#clear {

    background-color: rgb(104, 8, 104);
    position: relative;
    padding: 10px;
    font-size: 20px;
    color: white;
    top: 30%;
    right: 5%;
    text-align: center;

}

button {

    border-radius: 8px;
    font-size: 24px;

}

textarea {

    width: 90%;
    margin: 20px;

}

#Submit {

    background-color: rgb(104, 8, 104);
    color: white;
    margin-left: 33%;
    padding: 15px 32px;
    font-size: 20px;

}

label {

    margin-right: 10px;

}

input {

    font-size: 20px;
    margin-bottom: 20px;
    width: 50%;
    border: 1px solid black;

}

h1 {

    text-align: center;
    font-weight: bold;

}

li {

    background-color: rgb(104, 8, 104);
    color: white;
    border-radius: 10px;
    margin-top: 10px;
    padding: 5px 15px;
    width: 80%;
    font-size: 24px;

}

#newDiv {

    margin-top: 22px;
    border-top: 1px solid lightgray;

}
